.pink-header {
  background-color: #ff69b4; /* Pink color */
  color: white; /* White text */
  width: 97.35%; /* Ensure full width */
  padding: 10px 20px; /* Add padding for spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Align items with space between */
  align-items: center; /* Center items vertically */
}

.pink-header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 60px; /* Add gap between list items */
  margin-right: 23px;
}

.pink-header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s; /* Smooth color transition */
  font-size: 18px;
}

.pink-header nav ul li a:hover {
  color: #ffb6c1; /* Lighter pink color on hover */
}

.logo {
  width: 60px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 15px; /* Add margin for spacing */
}

.logoname {
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: cursive;
}

.logo-container {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Align items vertically */
}

.words {
  margin-right: 20px; /* Add margin for spacing */
  font-family: cursive;
}

.search-bar input[type="text"] {
  flex: 1; /* Take up remaining space */
  padding: 5px; /* Padding */
  border: 1px solid #ccc; /* Border */
  border-radius: 4px; /* Border radius */
  margin-right: 9px; /* Margin to the right */
  margin-top: -5px;
}

.search-bar button img.search {
  width: 13px; /* Adjust the width to make the icon smaller */
  height: 13px; /* Adjust the height proportionally */
  margin-bottom: 4px;

}
