.pink-header {
    background-color: #ff69b4; /* Pink color */
    color: white; /* White text */
    width: 100%;
}
  
  .pink-header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .pink-header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .pink-header nav ul li:last-child {
    margin-right: 0;
  }
  
  .pink-header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .pink-header nav ul li a:hover {
    text-decoration: underline;
  }
  